:root {
    --default-transition: .15s cubic-bezier(.25,.8,.5,1);
    --testimony-color-dark: #552a2e;
    --testimony-color-light: #be747b;
}

div.hil-row {
    position: relative;
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
    height: 30px;
}

.hil-content-row > div {
    position: absolute;
    transition: var(--default-transition);
}

hr.hil-row-separator {
    margin-bottom: 10px;
    opacity: 30%;
    border-color: #808080;
    display: none;
}

button.hil-row-btn {
    height: 100%!important;
    font-weight: normal!important;
    text-transform: none!important;
    text-overflow: clip!important;
    transition: var(--default-transition);
}

button.hil-btn-tab-active {
    background-color: #777!important;
}

input.hil-row-textbox {
    display: block;
    height: 100%;
    text-align: center;
    border-radius: 4px;
    font-size: 0.875rem;
    overflow: hidden;
    transition: var(--default-transition);
    color: rgb(104, 72, 72);
}

input.hil-music-input {
    position: absolute;
    top: calc(100% + 10px);
}

.hil-row span {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 300;
}

.hil-tab-row-now-playing {
    justify-content: right;
}

.hil-tab-row-now-playing span {
    margin-right: 12px;
}

input.hil-tn-pattern {
    max-width: 5%;
    color: #fff;
}

button.hil-testiony-btn {
    flex: 1 1 auto!important;
    background-color: var(--testimony-color-dark)!important;
    padding: 0 8px!important;
    font-size: small!important;
}

.hil-testiony-btn.theme--light {
    background-color: var(--testimony-color-light)!important;
}

.hil-evidence-title {
  margin: 10px 0;
  text-align: center;
  width: 100%;
  font-family: roboto;
  font-size: 16px;
}
.hil-evidence-submit {
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-family: roboto;
  cursor: pointer;
}
.hil-evidence-error {
  text-align: center;
  margin: 10px 0;
}

#hil-evidence-area {
  height: 400px;
  margin-bottom: 10px;
  padding: 5px;
  overflow: auto;
  font-family: roboto;
  border: solid rgba(255, 255, 255, 0.1) thin;
}

#hil-evidence-area .hil-evd-error {
  background-color: #ff525280 !important;
}
#hil-evidence-area .hil-evd-warning {
  background-color: #ff8e0080 !important;
}

#hil-evidence-area * {
  font-family: sans-serif !important;
  color: #fff !important;
}
#hil-evidence-area table {
  border: none !important;
  border-collapse: collapse !important;
}
#evidence-area td, th {
  border: solid #777 1px !important;
  background-color: transparent !important;
  min-width: 20px;
  min-height: 20px;
}
