:root {
    --color-primary: #f00;
}

.hil-evidence-title {
  margin: 10px 0;
  text-align: center;
  width: 100%;
  font-family: roboto;
  font-size: 16px;
}
.hil-evidence-submit {
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-family: roboto;
  cursor: pointer;
}
.hil-evidence-error {
  text-align: center;
  margin: 10px 0;
}

#hil-evidence-area {
  height: 400px;
  margin-bottom: 10px;
  padding: 5px;
  overflow: auto;
  font-family: roboto;
  border: solid rgba(255, 255, 255, 0.1) thin;
}

#hil-evidence-area .hil-evd-error {
  background-color: #ff525280 !important;
}
#hil-evidence-area .hil-evd-warning {
  background-color: #ff8e0080 !important;
}

#hil-evidence-area * {
  font-family: sans-serif !important;
  color: #fff !important;
}
#hil-evidence-area table {
  border: none !important;
  border-collapse: collapse !important;
}
#evidence-area td, th {
  border: solid #777 1px !important;
  background-color: transparent !important;
  min-width: 20px;
  min-height: 20px;
}
